<%= form_for(@ficha_recinto) do |f| %>
  <% if @ficha_recinto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ficha_recinto.errors.count, "error") %> prohibited this ficha_recinto from being saved:</h2>

      <ul>
      <% @ficha_recinto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ficha_ingreso_id %><br>
    <%= f.text_field :ficha_ingreso_id %>
  </div>
  <div class="field">
    <%= f.label :reo_id %><br>
    <%= f.text_field :reo_id %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br>
    <%= f.text_area :observaciones %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
