<%= form_for(@ficha_recinto) do |f| %>
  <% if @ficha_recinto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ficha_recinto.errors.count, "error") %> prohibited this ficha_recinto from being saved:</h2>

      <ul>
      <% @ficha_recinto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ficha_ingreso_id %><br>
    <%= f.select("ficha_ingreso_id",FichaIngreso.all.collect{|l| [l.codigo_ficha, l.id ]}, {include_blank:'select Ficha'})%>
  </div>
  <div class="field">
    <%= f.label :reo_id %><br>
    <%= f.select("reo_id",Reo.all.collect{|l| [l.nombre, l.id ]}, {include_blank:'select Reo'})%>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br>
    <%= f.text_area :observaciones %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
