<p id="notice"><%= notice %></p>

<p>
  <strong>Ficha ingreso:</strong>
  <%= @ficha_recinto.ficha_ingreso.codigo_ficha %>
</p>

<p>
  <strong>Reo:</strong>
  <%= @ficha_recinto.reo.nombre %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @ficha_recinto.observaciones %>
</p>

<%= link_to 'Edit', edit_ficha_recinto_path(@ficha_recinto) %> |
<%= link_to 'Back', ficha_recintos_path %>
