<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo ficha ingreso:</strong>
  <%= @ficha_carcelarium.codigo_ficha_ingreso %>
</p>

<p>
  <strong>Fecha ingreso date:</strong>
  <%= @ficha_carcelarium.fecha_ingreso_date %>
</p>

<p>
  <strong>Rut reo:</strong>
  <%= @ficha_carcelarium.rut_reo %>
</p>

<p>
  <strong>Reo:</strong>
  <%= @ficha_carcelarium.reo %>
</p>

<p>
  <strong>Ficha ingreso :</strong>
  <%= @ficha_carcelarium.ficha_ingreso_ %>
</p>

<%= link_to 'Edit', edit_ficha_carcelarium_path(@ficha_carcelarium) %> |
<%= link_to 'Back', ficha_carcelaria_path %>
