<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @reo.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @reo.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @reo.apellido %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @reo.direccion %>
</p>

<p>
  <strong>Fono:</strong>
  <%= @reo.fono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @reo.correo %>
</p>

<p>
  <strong>Recinto:</strong>
  <%= @reo.recinto.nombre %>
</p>

<h2>Informacion Interno:</h2>
<% @ficha_ingresos.each do |ficha_ingreso| %>
  <strong>condena:</strong>
  <%= ficha_ingreso.condena %>
  <strong>fecha ingreso:</strong>
  <%= ficha_ingreso.fecha_ingreso %>
  <strong>ubicacion:</strong>
  <%= ficha_ingreso.ubicacion %>


  <br>
<% end %>

<%= link_to 'Edit', edit_reo_path(@reo) %> |
<%= link_to 'Back', reos_path %>
